MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority
IBM_API_KEY=your_ibm_api_key
IBM_PROJECT_ID=your_ibm_project_id
IBM_URL=https://us-south.ml.cloud.ibm.com
IBM_MODEL_ID=meta-llama/llama-3-3-70b-instruct
IBM_MAX_TOKENS_CHAT=512
IBM_MAX_TOKENS_ANALYSIS=800
LANGFLOW_URL=http://localhost:7860
LANGFLOW_FLOW_ID=your_langflow_flow_id
LANGFLOW_API_KEY=your_langflow_api_key
